body{
	background-color: grey;
}

#contenedor {

	width: 1000px; 
	margin: 0 auto; 
	
	}
	.boton_personalizado{
		text-decoration: none;
		padding: 10px;
		font-weight: 600;
  		font-size: 20px;
		color: #ffffff;
		color: #ffffff;
		background-color: #1883ba;
		border-radius: 6px;
		border: 2px solid #0016b0;
	  }
	  .boton_personalizado:hover{
		color: #1883ba;
 
	  }